#pc-wrap {
  .join-page {
    position: relative;
    padding: 90px 0px;
    width: 100%;
    height: auto;
   .container {
     align-items: center;
     .main {
       width: 700px;
       height: 700px;
       border-radius: 12px 12px 12px 12px;
       background: #FFF;
       box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.2);
       align-items: center;
       box-shadow:0 4px 8px 0 rgba(0,0,0,0.3);
       .left {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         .info {
           margin-top: 30px;
           display: flex;
           flex-direction: column;
           align-items: center;
           span {
             font-family: $font;
             font-size: 20px;
             font-style: normal;
             font-weight: 600;
             line-height: normal;
             text-transform: uppercase;
             color:  #181A20;
           }
           p {
             margin-top: 5px;
             font-family: $font;
             font-size: 14px;
             font-style: normal;
             font-weight: 400;
             line-height: 26px;
             color: #181A20;

           }
         }
         .input-wrap {
           margin-top: 45px;
           width: 470px;
           display: flex;
           flex-direction: column;

          .input-box {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            &:first-child {
              margin-top: 0px;
            }
            span {
              margin-bottom: 8px;
              font-family: $font;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              color:  #181A20;
            }
            input {
              padding: 0px 15px;
              width: 100%;
              height: 55px;
              border-radius: 8px;
              border: 1px solid #DDD;
              background:  #FFF;
              font-family: $font;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              color: #717171;
            }
          }
         }
         .register {
           margin-top: 45px;
           width: 470px;
           display: flex;
           flex-direction: column;
           align-items: center;
           .button {
              width: 400px;
              height: 40px;
              margin-top: 20px;
              background-color: #42a5f5; // Lighter blue
              font-weight: bold;
              color: white;
              &:hover {
                background-color: #2196f3; // Lighter blue hover
                box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
              }
            }
           .type-option {
             display: flex;
             flex-direction: row;
             align-items: center;
             span.text {
               font-family: $font;
               font-size: 14px;
               font-style: normal;
               font-weight: 600;
               line-height: normal;
               color:  #181A20;
             }
             div {
               margin-left: 20px;
               display: flex;
               flex-direction: row;
               &:nth-child(1){
                 margin-right: 25px;
               }
             }
           }
           .remember-info {
             width: 100%;
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: center;
             a {
               font-family: $font;
               font-size: 14px;
               font-style: normal;
               font-weight: 400;
               line-height: 26px;
               cursor: pointer;
               color:  #181A20;
             }
           }
           button {
             margin-top: 25px;
             width: 100%;
             height: 55px;
             border-radius: 12px;
             background: #42a5f5; // Lighter blue
             font-family: $font;
             font-size: 15px;
             font-style: normal;
             font-weight: 600;
             line-height: normal;
             color:  #FFF;
             img {
               filter: brightness(0) invert(1);
             }
           }
         }
         .ask-info {
           margin-top: 30px;
           p {
             font-family: $font;
             font-size: 20px;
             font-style: normal;
             line-height: normal;
             font-weight: 400;
             color:  #181A20;
             b {
               margin-left: 10px;
               font-weight: 600;
               font-size: 32px;
               cursor: pointer;
               text-decoration: underline;
             }
           }
         }
       }
     }
   }
  }
}