#pc-wrap {
	#property-list-page {
		padding-bottom: 40px;
		background: #f6f6f6;
		.container {
			.right {
				position: absolute;
				right: 0;
				top: 3%;
				display: flex;
				flex-direction: row;
				align-items: center;
				z-index: 2;
				button {
					margin-left: 10px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: bold;
					line-height: 26px;
					&:hover {
						background: none;
					}
				}
			}
			.property-page {
				position: relative;
				width: 100%;
				flex-direction: row;
				gap: 25px;
				padding-top: 96px;
				.filter-config {
					width: 339px;
					height: auto;
					.categories-box {
						width: 100%;
						height: 220px;
						overflow: hidden;
						padding: 30px;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						background-color: #f8ebe5;
						border-radius: 10px;
						margin-bottom: 20px;
						transition-property: height;
						transition-duration: 2s;
						transition-timing-function: linear;
						&:hover {
							height: 450px;
						}
					}
					.find-your-book {
						width: 100%;
						padding: 15px;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						background-color: #f8ebe5;
						border-radius: 10px;
						margin-bottom: 20px;
						.divider {
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							margin-top: 10px;
							margin-bottom: 20px;
						}
						.filter-bottom {
							width: 100%;
							margin-top: 15px;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;
						}
						.category-name-box {
							width: 100%;
							height: auto;
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
							justify-content: space-between;
							.category-name {
								width: 48%;
								margin-top: 15px;
								margin-right: 2px;
								padding: 0px 10px;
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: space-between;
								background-color: white;
								border-radius: 20px;
								&:hover {
									background-color: #f79e90;
									.icon-default {
										color: white;
									}
								}
								.icon-checked {
									background-color: #eb6753;
									border-radius: 50%;
									color: white;
								}
							}
						}
					}
				}
			}
		}
	}
}
