#mobile-wrap {
    .home-page {
        position: relative;
        top: 50px;

        .trend-properties {
			width: 100%;
			height: 597px;
			display: flex;
			flex-direction: row;
			.container {
				flex-direction: column;
                .info-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-left: 20px;
                }
				.card-box {
					position: relative;
					margin-top: 64px;
					display: flex;
					flex-direction: row;
					.empty-list {
						width: 100%;
						height: 280px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.trend-property-swiper {
                        position: relative;
						width: 100%;
						height: 400px;
                        padding-left: 50px;
						display: flex;
						flex-direction: row;
                        align-items: center;
                        justify-content: center;
						.trend-property-slide {
							width: 100% !important;
							height: 400px;
							display: flex;
							margin: 0 auto;

                            .trend-card-box {
                                position: relative;
                                width: 80%;
                                height: 400px;
                                display: flex;
                                .img-box {
                                    transition: transform 0.3s;
                                    &:hover {
                                        opacity: 1;
                                        transform: scale(1.05);
                                        border-radius: 12px 12px 0px 0px;
                                    }
                                    .card-img {
                                        position: relative;
                                        width: 100%;
                                        height: 300px;
                                    }
                                }
                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    .title {
                                        position: relative;
                                        align-self: flex-start;
                                        left: 0;
                                        overflow: hidden;
                                        color: #181a20;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        font-family: $font;
                                        font-size: 15px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: normal;
                                        text-transform: capitalize;
                                        cursor: pointer;
                                    }
                                    .stats-info {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: flex-start;
                                        align-items: center;
                                    }
                                }
						}
					}
					}
				}
			}
		}
        .popular-properties {
			padding: 132px 0px 10px;
			width: 100%;
			height: 816px;
			display: flex;
			flex-direction: row;
			margin-bottom: 10px;
			.container {
				flex-direction: column;
                .info-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding-left: 20px;
                }
				.card-box {
					position: relative;
					margin-top: 64px;
					display: flex;
					flex-direction: row;
					.popular-property-swiper {
						width: 100%;
						height: 400px;
						display: flex;
						flex-direction: row;
						background-image: url('/img/bg/banner-bg14.jpg');
						background-size: 100% 100%;
						margin-bottom: 20px;
						.popular-property-slide {
							width: 100%;
							height: 100%;
							display: flex;
							
							.popular-card-box {
								width: 100%;
								height: 100%;
                                padding: 0px 20px;
								border: 0px;
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: space-evenly;
								.image-box {
									width: 45%;
									height: 60%;

									img {
										width: 100%;
										height: 100%;
									}
								}
								.info-box {
									width: 50%;
									height: 70%;
									display: flex;
									flex-direction: column;
									justify-content: center;
									align-items: flex-start;
									.info-item {
										margin-top: 10px;
										color: white;
									}
									.button {
										margin-top: 20px;
										width: 150px;
										font-size: 20px;
										color: white;
										background-color: #d16655;
										&:hover {
											background-color: #2e4a5b;
										}
									}
								}
							}
						}
					}
				}
			}
		}
        .client-feedback {
			width: 100%;
			height: auto;
			display: flex;
			margin-top: 40px;

			.container {
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				.title {
					margin-bottom: 40px;
					font-family: $font;
					font-style: normal;
					font-size: 30px;
					font-weight: 400;
					line-height: normal;
					text-transform: capitalize;
				}

				.feedback-box {
					width: 100%;

					.feedback-swiper {
						width: 90%;

						.feedback-slide {
							width: 100%;
							display: flex;
							flex-direction: row;

							.card-box {
								width: 100%;
								height: 250px;
								padding: 20px;
								background-color: #f8ebe5;
								border-top: 10px solid #bd7579;
								&:hover {
									background-color: #d16655;
									border-bottom: white;
									border-top: white;
									p {
										color: white;
									}
									.icon {
										color: white;
									}
								}

								.introduction {
									display: flex;
									flex-direction: row;
									align-items: center;

									img {
										width: 100px;
										border-radius: 50% 50% 10% 50%;
										margin-right: 15px;
									}
								}

								.card-body {
									display: flex;
									flex-direction: column;
									justify-content: flex-start;

									.feedback-purpose {
										display: flex;
										flex-direction: row;
										margin-top: 10px;
										margin-bottom: 10px;
										align-items: center;
										
										p {
											font-family: $font;
											font-size: 25px
										}
									}
								}
							}
						}
					}
				}
			}
		}
        .articles {
			position: relative;
			padding: 53px 0px 35px;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: row;
			background-size: cover;
			.container {
				position: relative;
				flex-direction: column;
				align-items: center;
				.info-box {
					width: 100%;
					display: flex;
					justify-content: flex-start;
					padding-left: 20px;
				}
				.wrapper {
					width: 100%;
					padding-left: 20px;
					margin-top: 43px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					.article-swiper {
						width: 99.7%;
                        height: auto !important;
                        display: flex;
                        flex-direction: row;
						.article-slide {
                            display: flex;
    						justify-content: center;
						}
						.card {
                            width: 90%;
                            height: auto;
                            margin-right: 28px;
                            background-color: #f8ebe5;
                            margin-bottom: 20px;
                            &:hover {
                                background-color: #c07c7f;
                                transition-duration: 0.5s;
                                color: white;

                                .icon {
                                    color: white;
                                }

                                p {
                                    color: white;
                                }

                                .devider {
                                    background-color: white;
                                }
                                
                                .button {
                                    background-color: white;
                                    color: #c07c7f;
                                }
                            }

                            .card-content {
                                width: 100%;
                                height: 400px;
                                display: flex;
                                flex-direction: column;
                                padding: 10px;

                                .meta-info {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-bottom: 20px;

                                    .info {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        align-items: center;
                                        margin-right: 20px;
                                        font-size: 14px;

                                        .icon {
                                            margin-right: 5px;
                                        }
                                    }
                                }
                                .button {
                                    &:hover {
                                        background-color: #2e4a5b;
                                        color: white;
                                    }
                                }

                            }
                        }
					}
				}
			}
		}
    }
}