#pc-wrap {
    .notification-page {
        width: 100%;
        height: 600px;
        background-color: #eff2f4;

        .container {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .notification-list {
                width: 30%;
                height: 550px;
                padding: 10px;
                background-color: white;
                border-radius: 10px;

                .controller {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 20px;

                    .con-button {
                        width: 180px;
                        font-size: 20px;
                        margin-right: 20px;
                    }
                }

                .list {
                    overflow: scroll;

                    .list-item {
                        width: 100%;
                        height: 70px;
                        padding: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        &:hover {
                            background-color: antiquewhite;
                        }

                        .profile-img {
                            width: 20%;
                            height: 100%;
                            border-radius: 100%;

                            img {
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                            }
                        }

                        .inform {
                            width: 80%;
                            position: relative;

                            .title {
                                font-size: large;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            .notification-detail {
                width: 65%;
                height: 550px;
                padding: 20px;
                background-color: white;
                border-radius: 10px;

                .header {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .notification-info {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                            width: 50px;
                            height: 50px;
                            margin-right: 20px;
                            border-radius: 100%;
                        }

                        p {
                            font-size: larger;
                            font-weight: 600;
                        }
                    }

                    .close-icon {
                        padding: 2px 8px;
                        border-radius: 5px;
                        &:hover {
                            scale: 1.2;
                            transition: 1s;
                        }
                    }
                }
                .main-body {
                    margin-top: 20px;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
                .link {
                    font-style: italic;
                    &:hover {
                        color: rgb(123, 171, 235);
                        cursor: pointer;
                    }
                }
            }
            .notification-detail-info {
                width: 65%;
                height: 550px;
                padding: 10px;
                background-color: white;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}